* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #000814e8;
    color: #ed254e;
    font-family: 'Poppins', sans-serif;
}


/* SKIP STYLING */
.skip a {
    background: #000814;
    color: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a {
    position: absolute;
    top: -40px;
}

.skip a:focus {
    position: absolute;
    top: 20px;
}

.skip a:hover {
    background: #910823;
}

/* END SKIP STYLING */

/* NAV BAR STYLING */
nav {
    background: #000814;
    height: 80px;
    width: 100%;
}

.logo {
    position: relative;
    left: 75px;
    color: #FCEAE8;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    text-decoration: none;
}

.logo a:visited {
    color: #D9D9D9;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #FCEAE8;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    border-bottom: transparent solid 1px;
    text-decoration:none;
}

nav a.active,
nav a:hover {
    background:#910823;
    text-decoration:none;
    transition: .5s;
    font-weight:bold;
    color:#FCEAE8;
    border-bottom: #FFD60A solid 2px;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#navLogo {
    text-decoration: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    .navBar ul li a {
        font-size: 15px;
    }
}

@media (max-width: 850px) {
    .checkbtn {
        display: block;
    }

    .navBar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000814;
        opacity: 0.9;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
        z-index: 1;
    }

    .navBar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navBar ul li a {
        font-size: 20px;
    }

    .navBar a:hover,
    .navBar a.active {
        background: none;
        color:#ed254e;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* END NAV BAR STYLING */

/* INDEX STYLING */
.indexContainer {
    padding-top: 150px;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutMeText {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 100px;
}

.aboutMeText h1 {
    color: #FFD60A;
    padding-top: 25px;
    font-size: 60px;
}

.aboutMeText h2 {
    padding-top: 10px;
    font-size: 50px;
}

.aboutMeText p {
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    font-size: 20px;
}

.aboutMe img {
    border-radius: 50%;
}


/* FLIP CARDS */

.favLanguages h3 {
    text-align:center;
    color:#FFD60A;
    font-size:30px;
    padding-bottom: 15px;
}

.codingLanguageContainer {
    display: flex;
    justify-content: center;
    row-gap: 5vw;
}

.language {
    padding: 20px;
    height: 200px;
}

.language img {
    width: 200px;
}

.language p {
    text-align: center;
    font-size: 25px;
}

.language{
    width: 150px;
    perspective: 1000px;
}

.codingLanguage-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.language:hover .codingLanguage-inner, .language:focus .codingLanguage-inner {
    transform: rotateY(180deg);
}

.codingLanguage-front, .codingLanguage-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.codingLanguage-back{
    transform: rotateY(180deg);
}

.reduceOn {
    display:none;
}

/* END FLIP CARDS */

/* END INDEX STYLING  */

/* CONTACT FORM STYLING */
.contactContainer {
    padding-top: 100px;
    padding-bottom: 80px;

}

.contactContainer h1 {
    font-size: 55px;
    text-align: center;
    padding-bottom: 20px;

}

.contactContainer p {
    font-size: 35px;
    text-align: center;
    padding-bottom: 40px;
}

.contactContainer label {
    font-size: 20px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 93px;
}

input[type=text] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=textarea] {
    width: 75%;
    height: 100px;
    padding: 6px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

input[type=submit] {
    width: 75%;
    background-color: #ed254e;
    color: #000814;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contactForm label {
    padding-bottom: 10px;
}

input[type=submit]:hover {
    background-color: #E8D6CB;
}


/* END CONTACT FORM STYLING */


/* FOOTER STYLING */

footer {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background: #000814;
}

footer h1 {
    color: #ed254e;
    font-size: 45px;
}

.footerMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border-radius: 12px;
    aspect-ratio: 1 / 1;
}

.fa:hover {
    color: black;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #cb2027;
    color: white;
}

.fa-facebook {
    background: blue;
    color: white;
    padding-left: 22px;
    padding-right: 22px;
}

.back-to-top {
    font-size: 16px;
    color:#ed254e;
}

.back-to-top:hover , .back-to-top:focus {
    color:#ed254e;
}


/*END FOOTER STYLING */

/* Interests Styling */
.interestsContainer {
    text-align: center;
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.interestsContainer img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding-bottom: 25px;
}

.dropdown {
    display: none;
}

.tempTitle p {
    padding-bottom: 25px;
}

.interestsContainer h1 {
    font-size: 55px;
    padding-bottom: 65px;
}

.favSets1,
.favSets2,
.favSets3,
h2 {
    font-size: 35px;
    padding-bottom: 45px;
}

.interestsContainer p {
    font-size: 25px;
}

.imageCaption {
    display: none;
}

.desktopView {
    display: none;
}

/* end intersts styling */


/* PROJECTS STYLING */

.projectsContainer {
    /* background:#000814e8; */
    padding-bottom: 200px;
}

.projectsContainer h1 {
    padding-top: 55px;
    text-align: center;
    color: #ed254e;
    font-size: 55px;
}

.projects {
    padding-top: 100px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    row-gap: 50px;
}

.projectItems {
    justify-items: baseline;
    text-align: center;
    width: 70%;
}

.projectItems p {
    color: #ed254e;
    font-size: 25px;
}

.projectItems img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.tabletTabView {
    display: none;
}

.desktopProjectsView {
    display: none;
}

/* END PROJECTS STYLING */


/* MEDIA QUERIES */

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        /* Removes scroll animation */
    }

    .skip a {
        -webkit-transition: none;
        /* sets to default setting */
        transition: none;
        /* sets to default setting */
    }

    /*Turn off parallax*/
    header {
        background-attachment: initial;
    }

    .reduceOn {
        display:block;
    }

    .codingLanguage-back {
        display:none;
    }

    .language:hover .codingLanguage-inner, .language:focus .codingLanguage-inner {
        transform: none;
    }
    
    .codingLanguage-back{
        transform: none;
    }

    .navBar ul {
        transition: 0s;
    }

    .codingLanguage-inner {
        transition: transform 0s;
    }
}   


@media screen and (min-width: 700px) {    
    /* PROJECTS STYLING */
    .projects {
        grid-template-columns: auto auto;
    }

    .tabletTabView {
        display: block;
        padding-bottom: 50px;
    }

    .tabletTabView ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tabletTabView ul li a {
        color: #ed254e;
    }

    .tabletTabView p {
        padding-top: 10px;
        font-size: 20px;
    }

    /* END PROJECTS STYLING  */

    /* INTERESTS STYLING */

    .interestsContainer img {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 50%;
        height: auto;
        padding-bottom: 25px;
    }

    .dropdown {
        display: block;
        width: 100%;
    }

    .dropdown-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000814;
        background-color: #FFD60A;
    }

    .firstImage,
    .secondImage,
    .thirdImage {
        display: flex;
        justify-content: baseline;
        justify-content: space-around;
    }

    .dropdown ul li a:hover {
        color: blue;
    }

    .imageCaption {
        display: block;
        display: flex;
        justify-content: right;
        flex-direction: column;
    }

    .imageCaption p {
        padding-bottom: 15px;
    }

    .imageCaption p:nth-child(2) {
        font-size: 20px;
    }

    .tempTitle {
        display: none;
    }

    .favSets1,
    .favSets2,
    .favSets3 {
        padding-bottom: 50px;
    }

    /* END INTERESTS STYLING */
}

@media screen and (min-width: 1100px) {
    /* INTERESTS STYLING */

    .interestsContainer {
        width: 100%;
    }

    #interestsTag {
        font-size: 55px;
        color: #ed254e;
    }

    .firstImage,
    .secondImage,
    .thirdImage {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .firstImage img,
    .secondImage img,
    .thirdImage img {
        padding-bottom: 100px;
        width: 50%;
        height: auto;
        padding-left: 25px;
    }

    .desktopView p:first-child {
        font-size: 40px;
    }

    .favSets1 h2:first-child {
        font-size: 45px;
    }

    .favSets1,
    .favSets2,
    .favSets3,
    h2 {
        font-size: 40px;
    }

    .imageCaption {
        display: none;
    }

    .desktopView {
        width: 50%;
        display: block;
    }

    .desktopView ul li a {
        font-size: 25px;
    }

    .desktopView ul {
        padding-bottom: 10px;
    }

    .desktopView p:first-child {
        color: #FFD60A;
        padding-bottom: 10px;
    }

    #lionsLogo,
    #michiganLogo,
    #pistonsLogo {
        height: 500px;
        object-fit: cover;
    }

    .desktopView p:last-child {
        margin: 25px;
        line-height: 1.6;
        padding-top: 10px;
        font-size: 20px;
    }

    /* END INTERESTS STYLING */
    /* PROJECTS STYLING  */
    .projects {
        grid-template-columns: auto auto;
        row-gap: 50px;
        line-height: 1.25;
    }

    .tabletTabView {
        display: none;
    }

    .projectItems {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .desktopProjectsView {
        display: block;
        text-align: left;
        width: 100%;
    }

    .desktopProjectsView p {
        font-size: 25px;
    }

    .desktopProjectsView p:first-child {
        color: #FFD60A;
        font-size: 30px;
    }

    .desktopProjectsView p:nth-child(2) {
        color: #FFD60A;
    }

    .desktopProjectsView p:nth-child(5) {
        color: #FFD60A;
    }

    .projects img {
        width: 100%;
    }

    .projectTitle {
        display: none;
    }

    /* END PROJECTS STYLING */

    /* CONTACT STYLING */
    .contactContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .contactContainer h1 {
        font-size: 55px;
    }

    .contactContainer p {
        font-size: 35px;
    }

    .contactForm {
        display: flex;
        flex-direction: row;
    }

    input[type=text],
    input[type=textarea] {
        width: 100%;
        border: 2px solid #FFD60A;
    }

    input[type=submit] {
        width: 100%;
    }
    /* END CONTACT STYLING */
}


/* END MEDIA QUERIES */